<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Spinkle</a>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    

    <div ngbDropdown  *ngIf="accountService.currentUser$ | async" class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Welcome User</button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button ngbDropdownItem>Profile</button>
        <button ngbDropdownItem (click)="loggedOut()" >Logout</button>

      </div>
    </div>

    <!-- <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-light" >Welcome User</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#" >Profile</a> 
        <div class="dropdown-devider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div> -->
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" required name = "Username" [(ngModel)]="model.Username"  placeholder="Username">
      <input class="form-control mr-sm-2" type="text" required name = "Password" [(ngModel)]="model.Password" placeholder="Password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>
